<ion-header>
  <ion-toolbar color="success">
    <ion-title>Location to Traveling</ion-title>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tabs">
      <ion-tab-button tab="schedule" class="tabs-item" routerLink="/location-list">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Adventure</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="speakers" class="tabs-item" routerLink="/location-list">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Hiking</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map" class="tabs-item" routerLink="/location-list">
        <ion-icon name="map"></ion-icon>
        <ion-label>Surfing</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="about" class="tabs-item" routerLink="/location-list">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Ancient</ion-label>
      </ion-tab-button>
<!--      <ion-tab-button tab="schedule" class="tabs-item">-->
<!--        <ion-icon name="calendar"></ion-icon>-->
<!--        <ion-label>Natural</ion-label>-->
<!--      </ion-tab-button>-->
<!--      <ion-tab-button tab="speakers" class="tabs-item">-->
<!--        <ion-icon name="contacts"></ion-icon>-->
<!--        <ion-label>Wild Safari</ion-label>-->
<!--      </ion-tab-button>-->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
